@font-face {
    font-family: 'arant-extra-light';
    font-weight: 100;
    src: url('/Assets/Arantxa/Arantxa-ExtraLight.ttf');
}
@font-face {
    font-family: 'arant-light';
    font-weight: 200;
    src: url('/Assets/Arantxa/Arantxa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'arant-regular';
    font-weight: 300;
    src: url('/Assets/dana-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'arant-bold';
    font-weight: 600;
    src: url('/Assets/Arantxa/Arantxa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'arant-black';
    font-weight: 800;
    src: url('/Assets/Arantxa/Arantxa-Black.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'arant-regular';
}
div::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}